<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zrs.mapper.EmpMapper">

    <select id="getEmps" resultType="com.zrs.bean.Emp">
          select * from t_emp
    </select>

    <insert id="addEmp">
        insert into t_emp (name,email) values (#{name},#{email})
    </insert>


</mapper>